@import 'reset.css';

.container{
	width: 1140px;
	margin:0 auto;

}

.clearfix::after{
	content: '';
	display: table;
	clear: both;
}
.header{
	background: #a44ae1;
	padding-top: 40px;
	padding-bottom: 40px;

}
section{
	text-align: center;
}
#header_logo{
	background-image: url('img/logo.png');

	display: block;
	width:117px;
	height:38px;
	float: left;
}
.header_list{
	padding-top: 20px;
}
.header_list li{
	display: inline-block;
	float: right;
	margin-right: 20px;

}
.header_list li a{
	text-decoration: none;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	padding:5px 10px;
	border-radius: 5px;
}
.header_list li a.active{
	background-color: #6b4c80;
}
.header_list li a:hover{
	background-color: #6b4c80;
}
.header h1{
	font-size:30px;
	text-align: center;
	line-height:35px;
	color: #fff;
	margin-top: 40px;
}
 button{
	display: block;
	width:200px;
	height: 70px;
	color: #fff;
	margin:auto;
	font-size: 16px;
	letter-spacing:3px;
	border-radius: 5px;
	border: none;
	border-bottom: 4px solid #df9b43;
	background:#e8a651;
	margin-top: 40px;
}
button#green-btn{
	width: 300px;

	margin-bottom:150px;
	border-bottom-color: #14a58c;
	background: #17c2a4;
}
 button:hover{ 
	cursor: pointer;
 }
 #service-section{
 	background:#4ac5e1;
 	padding-bottom:40px;
 	padding-top:45px;
 	color: #fff;

 }
 #service-section h1,
 #portfolio-section h1
 {
 	font-size: 40px;
 	word-spacing: 5px;
 	text-transform:uppercase;
 }

  #service-section h1:after ,
   #team-section h1:after,
   #portfolio-section h1:after
   {
  	content: '';
  	width:80px;
  	height:5px;
  	background-color: #41a1b7;
  	display: block;
  	border-radius:6px;
  	margin:0 auto;
  	margin-top: 20px;
  }

 #service-section p,
 #circle-section p
 #portfolio-section p
 {
 	font-size: 15px;
 	font-weight: bold;
 	margin-bottom: 30px;
 }
 

 .service-section-container{
 	margin-top:40px;

 	box-sizing:border-box;
 	
 }
.service-section-item ,
 .team-section-item,
 .circle-section-item
 {
 	margin-top: 20px;
	width: 24%;
	float: left;
	padding: 0 5px;
}
.service-section-item img{}
.service-section-item h2{
	font-size: 30px;
	font-weight:300;
	margin-top: 20px;
	margin-bottom: 25px;
	text-transform: uppercase;

}
.service-section-item p{
	margin-top: 20px;
	line-height: 25px;
	font-size:20px; 
}
#team-section,
#kill-section,
#circle-section
{
	background: #c8e7ee;
	padding-top: 70px;
	padding-bottom: 50px;
}
#team-section h1,
#kill-section h1,
#circle-section h1
{
	font-size: 30px;
	word-spacing: 5px;
	text-transform: uppercase;
	word-spacing: 4px;
	margin-bottom:40px;
}
.team-section-item img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.team-section-item small{
	font-size: 12px;
	color: #6897a2;
	margin-top:20px;
	display: block;
}
.team-section-item h2{
	font-size: 25px;
	font-weight: 200;
	margin-top: 20px;
	text-transform: uppercase;
}
.team-section-item p{
	margin-top: 20px;
	font-size: 14px;
	line-height: 30px;
}
.team-section-icon img{
	margin:25px 5px;
	width:25px;
	height:25px;
	opacity: 0.7;
	
}
.team-section-icon img:hover{
	opacity: 1;
}
#kill-section,#circle-section{
	background-color:#fff;
}
#kill-section-desc{
	width: 400px;
	margin: 0 auto;
	font-size: 20px;
	margin-bottom: 30px;
	text-transform: capitalize;

}
#portfolio-section{
	margin-top: 100px;

	background: #ffdd99;

}
 #portfolio-section h1:after{
 	background: #e5c37f;
 }
#portfolio-section p{
	margin:30px;
	text-transform:capitalize;
}
.portfolio-menu{
width:350px;
margin: auto;
padding-bottom: 40px;


}
.portfolio-menu li{
	float: left;
	padding:10px 20px;
	background: #ebc985;
	margin-right: 6px;
	margin-left: 5px;
	border-radius: 4px;
}

.portfolio-menu li.active{
	background: #fff;
}
.portfolio-menu li:hover{
	cursor: pointer;
}
.portfolio-section-item{
	width:49%;
	float: left;
	margin-bottom:50px;

}
.portfolio-section-item.hidden{
	display: none;
}
.portfolio-section-item h5{
	font-size: 20px;
	font-weight: 200;
	margin-top: 20px;
}
/*override circle css*/
/*change border color*/
.c100{
	float: none;
	margin: 0 auto;
	margin-bottom: 30px;
}

.c100 .bar.bgred{
	border: 0.08em solid red !important;;
}
.c100 .bar.bgblue{
	border: 0.08em solid blue !important;
}
.c100 .bar.bgorange{
	border: 0.08em solid orange !important;;
}
.c100 .fill.bgorange{
	border: 0.08em solid orange !important;;
}
.c100 .bar.bggreen{
	border: 0.08em solid green !important;;
}
.c100 .fill.bggreen{
	border: 0.08em solid green !important;;
}

/*change color span in event hover*/
.c100.p25 >span:hover {
	color: blue;
	cursor: pointer;
}
.c100.p50 >span:hover {
	color: red;
	cursor: pointer;
}
.c100.p50 >span:hover {
	color: red;
	cursor: pointer;
}
.c100.p75 >span:hover {
	color: orange;
	cursor: pointer;
}
.c100.p90 >span:hover {
	color: green;
	cursor: pointer;
}


